# Support Vector Machine

In [1]:
# Importing of essential libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report

In [2]:

df=pd.read_csv("C:\\Users\\Hp\\Downloads\\svm\\Bank Customer Churn Prediction.csv")
df

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,15606229,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,15569892,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,15584532,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,15682355,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,15628319,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [3]:
df.dropna()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,15606229,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,15569892,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,15584532,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,15682355,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,15628319,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
df.columns

Index(['customer_id', 'credit_score', 'country', 'gender', 'age', 'tenure',
       'balance', 'products_number', 'credit_card', 'active_member',
       'estimated_salary', 'churn'],
      dtype='object')

In [5]:
# Find missing values
missing_values = df.isnull().sum()
print("Missing Values:")
print(missing_values)

# Find duplicate rows
duplicate_rows = df[df.duplicated()]
print("\nDuplicate Rows:")
print(duplicate_rows)

Missing Values:
customer_id         0
credit_score        0
country             0
gender              0
age                 0
tenure              0
balance             0
products_number     0
credit_card         0
active_member       0
estimated_salary    0
churn               0
dtype: int64

Duplicate Rows:
Empty DataFrame
Columns: [customer_id, credit_score, country, gender, age, tenure, balance, products_number, credit_card, active_member, estimated_salary, churn]
Index: []

In [6]:
df.info

<bound method DataFrame.info of       customer_id  credit_score  country  gender  age  tenure    balance  \
0        15634602           619   France  Female   42       2       0.00
1        15647311           608    Spain  Female   41       1   83807.86
2        15619304           502   France  Female   42       8  159660.80
3        15701354           699   France  Female   39       1       0.00
4        15737888           850    Spain  Female   43       2  125510.82
...           ...           ...      ...     ...  ...     ...        ...
9995     15606229           771   France    Male   39       5       0.00
9996     15569892           516   France    Male   35      10   57369.61
9997     15584532           709   France  Female   36       7       0.00
9998     15682355           772  Germany    Male   42       3   75075.31
9999     15628319           792   France  Female   28       4  130142.79

      products_number  credit_card  active_member  estimated_salary  churn
0                   1            1              1         101348.88      1
1                   1            0              1         112542.58      0
2                   3            1              0         113931.57      1
3                   2            0              0          93826.63      0
4                   1            1              1          79084.10      0
...               ...          ...            ...               ...    ...
9995                2            1              0          96270.64      0
9996                1            1              1         101699.77      0
9997                1            0              1          42085.58      1
9998                2            1              0          92888.52      1
9999                1            1              0          38190.78      0

[10000 rows x 12 columns]>

In [7]:
df

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,15606229,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,15569892,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,15584532,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,15682355,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,15628319,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       10000 non-null  int64
 1   credit_score      10000 non-null  int64
 2   country           10000 non-null  object
 3   gender            10000 non-null  object
 4   age               10000 non-null  int64
 5   tenure            10000 non-null  int64
 6   balance           10000 non-null  float64
 7   products_number   10000 non-null  int64
 8   credit_card       10000 non-null  int64
 9   active_member     10000 non-null  int64
 10  estimated_salary  10000 non-null  float64
 11  churn             10000 non-null  int64
dtypes: float64(2), int64(8), object(2)
memory usage: 937.6+ KB

In [9]:
# Define features and target variable
X = df.drop(columns=['customer_id', 'churn'])  # Features
y = df['churn']  # Target variable

In [10]:
# Initialize a Support Vector Classifier (SVC) with a linear kernel
clf = SVC(kernel='linear')

In [11]:
# Split the dataset into training and testing sets
# X_train: Features for training
# X_test: Features for testing
# y_train: Target variable for training
# y_test: Target variable for testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [12]:
X_train

,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary
7389,667,Spain,Female,34,5,0.00,2,1,0,163830.64
9275,427,Germany,Male,42,1,75681.52,1,1,1,57098.00
2995,535,France,Female,29,2,112367.34,1,1,0,185630.76
5316,654,Spain,Male,40,5,105683.63,1,1,0,173617.09
356,850,Spain,Female,57,8,126776.30,2,1,1,132298.49
...,...,...,...,...,...,...,...,...,...,...
9225,594,Germany,Female,32,4,120074.97,2,1,1,162961.79
4859,794,Spain,Female,22,4,114440.24,1,1,1,107753.07
3264,738,France,Male,35,5,161274.05,2,1,0,181429.87
9845,590,Spain,Female,38,9,0.00,2,1,1,148750.16
2732,623,Germany,Female,48,1,108076.33,1,1,0,118855.26

In [13]:

from sklearn import svm
# Create a Support Vector Machine (SVM) model with a linear kernel
svm_model = svm.SVC(kernel='linear')

In [14]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

# Define numerical and categorical features
numeric_features = ['credit_score', 'age', 'tenure', 'balance', 'products_number', 'estimated_salary']
categorical_features = ['country', 'gender', 'credit_card', 'active_member']

# Create transformers for numerical and categorical features
numeric_transformer = StandardScaler()
categorical_transformer = OneHotEncoder(drop='first')

# Combine transformers for numerical and categorical features
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])

In [15]:
# Apply preprocessing to training and testing sets
X_train_scaled = preprocessor.fit_transform(X_train)
X_test_scaled = preprocessor.transform(X_test)

In [16]:
# Create a Support Vector Machine (SVM) model with a linear kernel
svm_model = svm.SVC(kernel='linear')

In [17]:
# Trained the SVM model on the scaled training data
svm_model.fit(X_train_scaled, y_train)

SVC(kernel='linear')

In [18]:
# Use the trained SVM model to make predictions on the scaled testing data
y_pred = svm_model.predict(X_test_scaled)

In [24]:
# Calculating the accuracy of the model by comparing  predicted labels (y_pred) with the true labels (y_test)
accuracy = accuracy_score(y_test, y_pred)
# Generating a classification report, which includes precision, recall, F1-score, and support for each class
report = classification_report(y_test, y_pred)

C:\Users\Hp\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\Hp\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\Hp\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [20]:
accuracy

0.7975

In [21]:
# Print the accuracy value using formatted string literal
print(f"Accuracy: {accuracy}")
# Print the classification report, including precision, recall, F1-score, and support for each class
print("Classification Report:\n", report)

Accuracy: 0.7975
Classification Report:
               precision    recall  f1-score   support

           0       0.80      1.00      0.89      1595
           1       0.00      0.00      0.00       405

    accuracy                           0.80      2000
   macro avg       0.40      0.50      0.44      2000
weighted avg       0.64      0.80      0.71      2000

In [22]:
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [23]:
from sklearn.metrics import confusion_matrix, classification_report
import seaborn as sns
import matplotlib.pyplot as plt
# Calculate the confusion matrix using the true labels (y_test) and the predicted labels (y_pred)
cm = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:\n", cm)

Confusion Matrix:
 [[1595    0]
 [ 405    0]]